<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Ohm Value Calculator Web Page!</h1>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "Form1" }))
        {
            <div class="BandColor">
                <table>
                    <tr>
                        @model MVCOhmDemo.Models.COhmModel
                        <td>
                            <!-- -->
                            <label for="FirstSignificantFigureBand">First Significant</label>
                            @Html.DropDownList("BandAColor", Model.FirstSignificantFigureList, new { @onchange = "this.form.submit();" })
                        </td>
                        <td>
                            <label for="SecondSignificantFigureBand">Second Significant</label>
                            @Html.DropDownList("BandBColor", Model.SecondSignificantFigureList, new { @onchange = "this.form.submit();" })
                        </td>
                        <td>
                            <label for="DecimalMultiplierBand">Decimal Multiplier</label>
                            @Html.DropDownList("BandCColor", Model.MultiplierList, new { @onchange = "this.form.submit();" })
                        </td>
                        <td>
                            <label for="ToleranceValueBand">Tolerance Value</label>
                            @Html.DropDownList("BandDColor", Model.ToleranceList, new { @onchange = "this.form.submit();" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style='background-color: @Model.BandAColor ;'>&nbsp&nbsp&nbsp&nbsp</span>
                        </td>
                        <td>
                            <span style='background-color: @Model.BandBColor ;'>&nbsp&nbsp&nbsp&nbsp</span>
                        </td>
                        <td>
                            <span style='background-color: @Model.BandCColor ;'>&nbsp&nbsp&nbsp&nbsp</span>
                        </td>
                        <td>
                            <span style='background-color: @Model.BandDColor ;'>&nbsp&nbsp&nbsp&nbsp</span>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>

                </table>
            </div>
            <br />
            <br />
            <br />
            <div class="OhmResult">
                <table>
                    <tr>
                        <td>
                            <span style="font-size:24px;"><strong>Resistance Value: @Model.OhmValue ohms(Ω)</strong> </span>
                        </td>
                        <td>
                            <span style="font-size:24px;"><strong>Tolerance Range:  +/-@Model.ToleranceRange   </strong></span>
                        </td>

                    </tr>
                </table>
            </div>
        }


    </section>
</div>
